.title {
    font-family: var(--font-poppins)!important;
    font-size: 64px!important;
    font-weight: 700!important;
    font-style: normal;
    line-height: 64px!important;

    color: var(--cor-ligth);

    text-align: center;
}

.title_black {
    font-family: var(--font-poppins)!important;
    font-size: 64px;
    font-weight: 700;
    font-style: normal;

    color: var(--cor-dark);

    text-align: center;
}

.text {
    font-family: var(--font-poppins)!important;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;

    color: var(--cor-dark);

    text-align: center;
}

.text_bt {
    font-family: var(--font-poppins)!important;
    font-size: 32px;
    font-weight: 600;
    font-style: normal;

    color: white!important;

    text-align: center;
}

a {
    text-decoration: none;
    color: var(--cor-dark);
}